 html {
	height: 100%;
	width: 100%;
} 

body {
	background-color: lightblue;
}

.grid_wrapper {
	border: 2px solid black;
	box-sizing: border-box;
	height: 304px;
	width: 304px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}
		 
.grid {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	float: left;
	border: 1px solid grey;
	margin: auto;
}

.row_grey {
	width: 100%;
	margin: 0;
	text-align: center;
	background-color: lightgrey;
}

.container h2, .container p {
	text-align: center;
}

.container button {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 120%;
	transform: translate(-50%, -120%);
	background-color: grey;
}

i {
	text-align: center;
	font-size: 70px;
}